*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
.sass-cache
node_modules
dist
.envrc
.env

# Specifics

# Hide compiled JS
src/_includes/assets/scripts/*.js
src/_includes/assets/scripts/*.js.map

# Hide compiled functions
functions/*.zip

# Local Netlify folder
.netlify
